<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id=".graphics-menu" label="graphics">
	<item label="openshot">
		<action name="Execute">
			<command>openshot</command>
			<startupnotify>
				<enabled>yes></enabled>
				<icon>openshot</icon>
			</startupnotify>
		</action>
	</item>
	<item label="blender">
		<action name="Execute">
			<command>blender</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="inkscape">
		<action name="Execute">
			<command>inkscape</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
</menu>

<menu id=".system-menu" label="system">
	<item label="obconf">
		<action name="Execute">
			<command>obconf</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
        <item label="wallpaper">
		<action name="Execute">
			<command>nitrogen</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="themes">
		<action name="Execute">
			<command>lxappearance</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="reconfigure">
		<action name="Reconfigure" />
	</item>
</menu>

<menu id=".files-menu" label=".dotfiles">
	<item label="menu.xml">
		<action name="Execute">
			<command>xterm -e vim ~/.config/openbox/menu.xml</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="conky.rc">
		<action name="Execute">
			<command>xterm -e vim ~/.conkyrc</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label=".bash_aliases">
		<action name="Execute">
			<command>xterm -e vim ~/.bash_aliases</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label=".bash_profile">
		<action name="Execute">
			<command>xterm -e vim ~/.bash_profile</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label=".vimrc">
		<action name="Execute">
			<command>xterm -e vim ~/.vimrc</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label=".tmux.conf">
		<action name="Execute">
			<command>xterm -e vim ~/.tmux.conf</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
	<item label=".xinitrc">
		<action name="Execute">
			<command>xterm -e vim ~/.xinitrc</command>
			<startupnotify>
				<enabled>no</enabled>
			</startupnotify>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<separator label="bisten" />
	<item label="xterm">
		<action name="Execute">
			<command>xterm</command>
			<startupnotify>
				<enabled>no</enabled>
				<icon>xterm</icon>
			</startupnotify>
		</action>
	</item>
	<item label="thunar">
		<action name="Execute">
			<command>thunar</command>
			<startupnotify>
				<enabled>yes</enabled>
				<icon>thunar</icon>
			</startupnotify>
		</action>
	</item>
	<item label="libreoffice">
		<action name="Execute">
			<command>libreoffice</command>
			<startupnotify>
				<enabled>yes</enabled>
				<icon>libreoffice</icon>
			</startupnotify>
		</action>
	</item>
	<item label="chromium">
		<action name="Execute">
			<command>chromium</command>
			<startupnotify>
				<enabled>yes</enabled>
				<icon>chromium</icon>
			</startupnotify>
		</action>
	</item>
	<item label="leafpad">
		<action name="Execute">
			<command>leafpad</command>
			<startupnotify>
				<enabled>yes</enabled>
				<icon>leafpad</icon>
			</startupnotify>
		</action>
	</item>
	<separator />
	<item label="minecraft">
		<action name="Execute">
			<command>java -jar /home/jeremy/dl/Minecraft.jar</command>
			<startupnotify>
				<enabled>yes</enabled>
				<icon>minecraft</icon>
			</startupnotify>
		</action>
	</item>
	<separator />
	<menu id=".files-menu" />
	<menu id=".system-menu" />
	<menu id=".graphics-menu" />
	<separator />
	<item label="Log Out">
		<action name="Exit">
			<prompt>yes</prompt>
		</action>
	</item>
</menu>
</openbox_menu>
